<div class="col-xs-3">
  <div class="panel panel-default">
    <div class="panel-heading">quick view</div>
    <div class="panel-body">
      quick view content
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">menu</div>
    <div class="panel-body">
      menu content
    </div>
  </div>
</div>
<div class="col-xs-9">
  <div class="panel panel-default shelf-view">
    <div class="panel-heading">
      <a ui-sref="main.home" >Planta </a>
      > Pasillo {{shelf.id}}</div>
    <div class="panel-body">
      <div class="shelf">
        <div class="shelf-row" ng-repeat="row in shelf.rows">
          <div class="shelf-cell" ng-repeat="cell in row.cells">
            <div class="package"
                 ng-show="cell.package"
                 ui-sref="main.package({id: cell.package.id})">
              <i class="fa fa-archive"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
