.quick-view {
  .robot .form-group {
    margin-bottom: 0;
  }
}

.robots {
  $shelf-height: 80px;
  $lane-height: 80px;
  .shelf {
    cursor: pointer;
    height: $shelf-height;
    border: 3px solid black;
    display: flex;
    .shelf-col {
      text-align: center;
      line-height: $shelf-height;
      border: 1px solid gray;
      flex: 1;
    }
  }

  .lane {
    height: $lane-height;
    .robot {
      position: relative;
      cursor: pointer;
      $robot-width: $lane-height;
      line-height: $lane-height;
      text-align: center;
      width: $robot-width;
      i.fa-car {
        font-size: 40px;
      }
      i.fa-archive {
        font-size: 14px;
        position: absolute;
        top: 7px;
      }

      &.hover, &:hover {
        text-shadow: 0px 0px 30px yellow;
      }

      &.broken {
        color: red;
        &.hover, &:hover {
          text-shadow: 0px 0px 30px red;
        }
      }

      &.idle {

      }

      &.retrieving {
        color: green;
        &.hover, &:hover {
          text-shadow: 0px 0px 30px green;
        }
      }

      &.storing {
        color: green;
        &.hover, &:hover {
          text-shadow: 0px 0px 30px green;
        }
      }
    }
  }
}
