<div class="col-xs-3 quick-view">
  <div class="panel panel-default">
    <div class="panel-heading">Robots</div>
    <div class="panel-body">
      <accordion >
        <accordion-group class="robot" heading="Robot {{robot.id}}" ng-repeat="robot in main.robots"
                         ng-mouseenter="robot.mouseHover = true"
                         ng-mouseleave="robot.mouseHover = false">
          <form class="form-horizontal">
            <div class="form-group input-sm row">
              <label class="col-sm-5 control-label">Estado</label>
              <div class="col-sm-7">
                <p class="form-control-static">{{main.stringifyRobotState(robot)}}</p>
              </div>
            </div>
            <div class="form-group input-sm row">
              <label class="col-sm-5 control-label">Promedio</label>
              <div class="col-sm-7">
                <p class="form-control-static">{{robot.avg}}</p>
              </div>
            </div>
            <div class="form-group input-sm row">
              <label class="col-sm-5 control-label">Paquete</label>
              <div class="col-sm-7">
                <p class="form-control-static">{{(robot.package ? robot.package.id : 'Ninguno')}}</p>
              </div>
            </div>
          </form>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <div class="panel panel-default menu">
    <div class="panel-heading">Menú</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group input-sm row">
          <label class="col-sm-12 control-label">Email para enviar alertas</label>
          <div class="text col-sm-12">
            <div class="col-sm-9">
              <p class="form-control-static" ng-hide="main.editingEmail">{{main.email}}</p>
              <input type="email" class="form-control" ng-model="main.email" ng-show="main.editingEmail"/>
            </div>
            <div class="toggle-edit col-sm-3">
              <i class="fa fa-edit" ng-click="main.editingEmail = true" ng-hide="main.editingEmail"></i>
              <i class="fa fa-check" ng-click="main.editingEmail = false" ng-show="main.editingEmail"></i>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-xs-9">
  <div class="panel panel-default robots">
    <div class="panel-heading">Planta</div>
    <div class="panel-body">
      <div class="shelf" ui-sref="^.shelf({id: 0})">
        <div class="shelf-col" ng-repeat="colCount in main.shelves[0].colsCount track by $index">{{colCount}}</div>
      </div>
      <div class="lane">
        <div class="robot"
             ng-class="{
               'broken': main.robots[0].broken,
               'idle': main.robots[0].idle,
               'retrieving': main.robots[0].retrieving,
               'storing': main.robots[0].storing,
               'hover': main.robots[0].mouseHover,
             }"
             ng-style="{'left': main.robots[0].pos + 'px'}">
          <i class="fa fa-car"></i>
          <i class="fa fa-archive" ng-show="main.robots[0].package"></i>
        </div>
      </div>
      <div class="shelf" ui-sref="^.shelf({id: 1})">
        <div class="shelf-col" ng-repeat="colCount in main.shelves[1].colsCount track by $index">{{colCount}}</div>
      </div>
      <div class="lane">
        <div class="robot"
             ng-class="{
               'broken': main.robots[1].broken,
               'idle': main.robots[1].idle,
               'retrieving': main.robots[1].retrieving,
               'storing': main.robots[1].storing,
               'hover': main.robots[1].mouseHover,
             }"
             ng-style="{'left': main.robots[1].pos + 'px'}">
          <i class="fa fa-car"></i>
          <i class="fa fa-archive" ng-show="main.robots[1].package"></i>
        </div>
      </div>
      <div class="shelf" ui-sref="^.shelf({id: 2})">
        <div class="shelf-col" ng-repeat="colCount in main.shelves[2].colsCount track by $index">{{colCount}}</div>
      </div>
    </div>
  </div>
</div>
